<section ng-controller="PlayList">

    <h3>[Nombre del artista seleccionado]</h3>

    <table class="table">
      <caption>Resultados:</caption>
      <thead>
        <tr>
          <th class="col-md-1">#</th>
          <th>Canción</th>
          <th class="col-md-1 text-center">Escuchar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cancion in Artista.traerSeleccionadas()">
          <th>{{ $index + 1 }}</th>
          <td>{{ cancion.nombre }}</td>
          <td class="text-center">
            <button class="btn btn-primary" ng-click="reproducir(cancion.preview)">
              <i class="fa fa-play" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      <a href="#!/" class="btn btn-block btn-default input-lg" ng-click="Artista.reset()">
        Armar nuevo PlayList
      </a>
    </p>
</section>