<section ng-controller="PlayList">

    <h3>[Nombre del artista seleccionado]</h3>

    <table class="table">
      <caption>Resultados:</caption>
      <thead>
        <tr>
          <th class="col-md-1">#</th>
          <th>Canción</th>
          <th>Album</th>
          <th class="col-md-1 text-center">Escuchar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Nombre de la canción 1</td>
          <td>Album</td>
          <td class="text-center">
            <a href="#" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <th>2</th>
          <td>Nombre de la canción 2</td>
          <td>Album</td>
          <td class="text-center">
            <a href="#" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <th>3</th>
          <td>Nombre de la canción 3</td>
          <td>Album</td>
          <td class="text-center">
            <a href="#" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>


    <a href="#!/">ver Buscador</a>	
</section>